@page "/user/login"
@using System.Security.Claims
@inject HttpClient http
@inject ProtectedLocalStorage localStorage
@inject ProtectedSessionStorage sessionStorage
@inject NavigationManager NavigationManager
@inject IAuthenticationService AuthenticationService
@inject IHttpService httpService
@inject INameService nameSerivce

<PageTitle>@nameSerivce.SignIn | @nameSerivce.Title</PageTitle>

<AuthorizeView>
    <Authorized>
        <ReditectToHome />
    </Authorized>
</AuthorizeView>
<div class="container-fluid login-content">
    <div class="row ">
        <div class="col sizing position-relative m-auto">
            <div class="card border-0 pb-2">
                <div class="card-body">
                    <div class="text-center">
                        <img src="/images/logo.png" height="70" width="90" alt="Skymey" />
                    </div>
                    <h4 class="text-logo text-center mt-3">Sign in</h4>
                    <br>
                    <EditForm Model="loginModel" class="text-center" OnValidSubmit="SubmitForm">
                        <FluentValidationValidator />
                        <label for="Email" class="float-start">Email</label>
                        <InputText class="form-control border-0 text-white" type="email" name="Email" placeholder="Email" @bind-Value="loginModel.Email" />
                        <ValidationMessage For="@(() => loginModel.Email)" />
                        <label for="Password" class="float-start mt-2">Password</label>
                        <InputText class="form-control border-0 text-white" type="password" name="Password" placeholder="Password" @oninput="@((ui) => {loginModel.Password = ui.Value.ToString();})" @bind-Value="loginModel.Password" />
                        <ValidationMessage For="@(() => loginModel.Password)" />
                        <div class="row">
                            <div class="forgot">
                                <a href="" class=" float-end">Forgot Password?</a>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col">
                                <button class="btn btn-primary border-0 text-center" type="submit" name="submit">Sign In</button>
                            </div>
                        </div>

                    </EditForm>
                </div>
                <div class="nomember">
                    <p class="text-center">Don’t have an Account yet? <a href="user/register">Sign up now</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
 
@code {
    private LoginModel loginModel = new LoginModel();

    private async Task SubmitForm()
    {
        using (var response = await http.PostAsJsonAsync("https://localhost:5006/api/User/Login", loginModel))
        {
            using (var resp = JsonSerializer.Deserialize<UserResponse>(await response.Content.ReadAsStreamAsync()))
            {
                if (resp.ResponseType)
                {
                    await sessionStorage.SetAsync("Token", resp.AuthenticatedResponses.Token);
                    await localStorage.SetAsync("RefreshToken", resp.AuthenticatedResponses.RefreshToken);
                    await AuthenticationService.Login(loginModel.Email, loginModel.Password);
                    AuthenticationService.User.Token = resp.AuthenticatedResponses.Token;
                    AuthenticationService.User.RefreshToken = resp.AuthenticatedResponses.RefreshToken;
                    NavigationManager.NavigateTo("/",true);
                }
                else
                {
                    Console.WriteLine(resp.Response);
                }
            }

            Console.WriteLine("validate");
        }
    }
}